<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.SurveyApp1"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.SurveyApp1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity"
            android:exported="false" />
        <activity
            android:name=".PSActivity"
            android:exported="false" />
        <activity
            android:name=".ADHDActivity"
            android:exported="false" />
        <activity
            android:name=".GADActivity"
            android:exported="false" />
        <activity
            android:name=".PSQIActivity"
            android:exported="false" />
        <activity
            android:name=".QIDSActivity"
            android:exported="false" />
        <activity
            android:name=".LastActivity"
            android:exported="false" />
        <activity
            android:name=".UnavailableActivity"
            android:exported="false" />

        <receiver
            android:name=".NotificationReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="com.surveyapp1.notificationreceiver.ACTION_TRIGGER_ALARM"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".SurveyDeactivator"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.surveyapp1.surveydeactivator.ACTION_TRIGGER_ALARM" />
            </intent-filter>
        </receiver>
        <receiver android:name=".WifiReceiver"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="com.surveyapp1.wifireceiver.ACTION_TRIGGER_ALARM"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>